@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');


h1 {
    font-family: 'Gloria Hallelujah', cursive;
    color: #3d3d3d;
    margin-bottom: 20px;
    font-size: 350%;
}
p {
    font-family: 'Gloria Hallelujah', cursive;
    color: #3d3d3d;
    font-size: 150%;
}
.top-nav {
    background-color: #B7D6DB;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
